<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8"/>
        <title>ChatBK</title>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>
    </head>
    <body>
        <h2>ChatBK</h2>
        <div id="app">
            
            <form name="checkListForm" method="POST">
                <input id="userItem" placeholder="Escribe tu nombre...">
                <textarea rows="4" cols="50" id="insertItem" placeholder="Escribe tu comentario..."></textarea>
            </form>
            <div id="button">Enviar</div>
            <br/>
            
            <div id="all">
                <div id="todo-count">No hay comentarios</div>
            </div>
            
            <div id="comment-list"></div>
            
        </div>

        <!-- Libs -->

        <script src="js/json2.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/underscore.js"></script>
        <script src="js/backbone.js"></script>
        <script src="js/main.js"></script>

        <!-- Templates -->

        <script type="text/template" id="item-template">
            <div class="user">Escrito por: <%= name %></div>
            <div class="comment"><%= comment %></div>
            <button class="close">&times;</button>
        </script>

        <script type="text/template" id="stats-template">
            <div class="todo-count">Número de comentarios: <%= nComments %></div>
        </script>

    </body>
</html>